
DO \\$\\$
DECLARE
    auth_id uuid;
    prod_id uuid := '00000000-0000-0000-0000-000000000001';
BEGIN
    SELECT id INTO auth_id FROM auth.users WHERE email = 'amritdhara@aquakart.com';
    IF auth_id IS NULL THEN
        RAISE EXCEPTION 'User not found';
    END IF;

    UPDATE profiles SET role = 'supplier' WHERE id = auth_id;

    INSERT INTO suppliers (id, profile_id, business_name, phone, is_active, is_accepting_orders)
    VALUES (auth_id, auth_id, 'Amrit Dhara (Pilot)', '9999999999', true, true)
    ON CONFLICT (profile_id) DO NOTHING;

    INSERT INTO supplier_products (supplier_id, product_id, price, available)
    VALUES (auth_id, prod_id, 40, true)
    ON CONFLICT DO NOTHING;
END \\$\\$;

