INSERT INTO auth.users (instance_id, id, aud, role, email, encrypted_password, email_confirmed_at, raw_app_meta_data, raw_user_meta_data, created_at, updated_at) VALUES ('00000000-0000-0000-0000-000000000000', 'b0000000-0000-0000-0000-000000000001', 'authenticated', 'authenticated', 'contact@purejal.com', '\\\.RTi2RzVeYpDG/vraW', now(), '{\
provider\:\email\,\providers\:[\email\]}', '{}', now(), now()) ON CONFLICT (id) DO UPDATE SET encrypted_password = EXCLUDED.encrypted_password, email = EXCLUDED.email, aud = 'authenticated', role = 'authenticated';
